body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f8f0e7;
  font-family: 'Rubik', sans-serif;
}

/* typography style */
h1 {
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
color: #74150c;
text-align: center;
}

h2 {
font-family: 'Rubik', sans-serif;
color: #552814;
background-color: #ffd5c2
text-align: center;
}

h3 {
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
color: #552814;
}

h5{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
color: #c8553d;
text-align: center;
}

p {
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1.0em;
line-height: 1.5em;
color: #74150c;
text-align: center;
}

.maroon {
color: #74150c;
}

.linen { 
color: #f8f0e7;
}

.light-grey {
color: #E1C2BE;
}


/* grid container */
/* .header { grid-area: header; }
.left { grid-area: left; }
.right { grid-area: right; }
.footer { grid-area: footer; }


.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'left right'
    'footer footer';
  grid-gap: 10px;
  background-color: #f8f0e7;
  padding: 10px;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #f8f0e7;
  padding: 10px;
/*   gap: 17px 21px */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header {
  grid-column: 1 / span 12;
}
.left {
  grid-column: 1 / span 6;
  background-image: url("img/post.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.right {
  grid-column: 7 / span 6;
}
.footer {
  grid-column: 1 / span 12;
}

/* .grid-item {
  background-color: linen(248, 240, 231, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
} */

/* .header {
  background-color:grey;
  grid-column-start:1;
  grid-column-end:5;
  height:264px;
} */

/* .left-menu{
  background-color:grey;
  grid-column-start:1;
  grid-column-end:2;
  /* height:20vh; */
/*   height:40vh;
}
.main-content-area{
  background-color:grey;
  grid-column-start:2;
  grid-column-end:5;
  height:40vh;
} */

/* .footer {

    background-color:grey;
    grid-column-start:1;
    grid-column-end:5;
    height:165px;
}
 */ */



/* content columns */
/* .hero-image {
  background-image: url("img/post.jpeg");
  grid-column: span 6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
/* 
.right-panel {
  grid-column: span 6;
  background-color:#f8f0e7;
} */

.hero-text {
  padding:12% 8% 0;
}

/* text component */
.info-text {
  margin-top:50px;
}

.boxes {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* The line below is shorthand for writing:
  margin-top: 1.4em; margin-right: 0; margin-bottom: 1.4em; margin-left:0
  You can see why the shorthand way is much cleaner!
  Always keep in mind that in terms of padding and margins, it's always: top > right > bottom > left. just like a clock*/
  margin: 1.4em 0;
}

.box {
  width: 30%;
  text-align:center;
  margin-right: 1em;
}


hr.horizontal {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(248,240,231, 0.3);
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

.vertical-line {
  border-right: 1px solid rgba(248,240,231, 0.3);
  height:86px;
}

 
/* Media queries */
@media (max-width:600px){

.boxes {
  display: block;
}
.vertical-line{
display:none;
}

}


@media (max-width:1083px){

  .hero-image{
    height:40vh;
  }
  .right-panel {
    min-height:100vh;

  }
}


@media (min-width:1084px) {
html {
  font-size: 1vw;
}
.hero-image {
    height: 100vh;
}
  }
